.ui-autocomplete{
                z-index: 2000;
            }
            
            .details{
                cursor: pointer;
            }
			
			input[type="search"]::-webkit-search-cancel-button {
			-webkit-appearance: searchfield-cancel-button;
			}
            
            #infomodal.modal-dialog{
                overflow-y: initial !important
            }
            
            #infomodal.modal-body{
                height: 500px;
                overflow-y: auto;
            }
            
            .youtubes {
                background-color: #000;
                margin-bottom: 30px;
                position: relative;
                padding-top: 56.25%;
                overflow: hidden;
                cursor: pointer;
            }
            .youtubes img {
                width: 100%;
                top: -16.84%;
                left: 0;
                opacity: 0.7;
            }
            .youtubes .play-button {
                width: 90px;
                height: 60px;
                background-color: #e13b2b;
                box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
                z-index: 1;
                opacity: 0.8;
                border-radius: 6px;
            }
            .youtubes .play-button:before {
                content: "";
                border-style: solid;
                border-width: 15px 0 15px 26.0px;
                border-color: transparent transparent transparent #fff;
            }
            .youtubes img,
            .youtubes .play-button {
                cursor: pointer;
            }
            .youtubes img,
            .youtubes iframe,
            .youtubes .play-button,
            .youtubes .play-button:before {
                position: absolute;
            }
            .youtubes .play-button,
            .youtubes .play-button:before {
                top: 50%;
                left: 50%;
                transform: translate3d( -50%, -50%, 0 );
            }
            .youtubes iframe {
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
            
             .tag a {
                display: inline-block;
                padding: 3px 15px;
                color: #666;
                border: 1px solid #dedede;
                border-radius: 50px;
            }
            
            .instagram{ 
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                border-color: background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
           }
            